{% extends "base.html" %}

{% block body %}

<div class="content">
    
    <h1 style="text-align: center">Contact</h1>

</div>

<div class="about-section">
    <h1>Created by Mario Parks</h1>
    <p>Thank you for checking out this app.</p>
    <p>Feel free to reach out via your contact method of choice.</p>
</div>

<h2 style="text-align:center">Links</h2>
<div class="row">
<div class="column">
    <div class="card">
    <img class = "rounded-circle" src="https://assets.stickpng.com/images/58485698e0bb315b0f7675a8.png" style="width:100%">
    <div class="container">
        <h2>email</h2>
        <p>mario@parks.gmbh</p>
    </div>
    </div>
</div>

<div class="column">
    <div class="card">
    <img class = "rounded-circle" src="https://image.flaticon.com/icons/png/512/61/61109.png" style="width:100%">
    <div class="container">
        <h2>LinkedIn</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>https://www.linkedin.com/in/marioparks/</p>
        <p><button class="button">Contact</button></p>
    </div>
    </div>
</div>

<div class="column">
    <div class="card">
    <img class = "rounded-circle" src="https://image.flaticon.com/icons/png/512/25/25231.png" style="width:100%">
    <div class="container">
        <h2>Github</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>https://github.com/mariobkp</p>
        <p><button class="button">Contact</button></p>
    </div>
    </div>
</div>
</div>

{% endblock body %}