{% extends "base.html" %}

{% block body %}

<div class="content">
    


</div>

    <h1 style="text-align: center">Created by Mario Parks</h1>
    <h3 style="text-align: center">Thank you for checking out this app.</h3>
    <h3 style="text-align: center">Feel free to reach out via your contact method of choice.</h3>

<br>

<div class="row">
    <div class="column">

            <img class = "rounded-circle" src="https://icon-library.com/images/email-png-icon/email-png-icon-2.jpg" style="width:70%">
            <div class="container">
                <br>
                <h3>mario@parks.gmbh</h3>
            </div>
        
    </div>

    <div class="column">
        
            <img class = "rounded-circle" src="https://image.flaticon.com/icons/png/512/61/61109.png" style="width:70%">
            <div class="container">
                <br>
                <h3>linkedin.com/in/marioparks</h3>
            </div>

    </div>

    <div class="column">
        
            <img class = "rounded-circle" src="https://image.flaticon.com/icons/png/512/25/25231.png" style="width:70%">
            <div class="container">
                <br>
                <h3>github.com/mariobkp</h3>
            </div>
        
    </div>
</div>

{% endblock body %}