{% extends "base.html" %}

{% block body %}

<div class="content">
    
    <h1 style="text-align: center">Product Intelligence Dashboard</h1>

    <div class="content-section">
        <h2 class="account-heading" style="float: right">Current item</h2>
        <div class="media">
            <img class="rounded-circle account-img" src="{{ image_file }}">
            <div class="media-body">
                
                <p class="text-secondary" style='float: left;'>{{ keywords }}</p>
            </div>
        </div>
        <div class="media">
            <h2 style="float: right">{{ recommended_price }}</h2>
        </div>
        <br style="clear:both;"/>
    </div>

    <br>

<!--
    <form action="/" method="POST" style="text-align: center">
        
        <input type="text" name="content" id="content">

        <input type="submit" value="Keywords">
    
    </form>
-->

    <br>

    {% if d|length < 1 %}

    <h4 style="text-align: center">Please enter an item image (.jpg or .png format) and/or product keywords</h4>

    {% else %}
    <table class="table white table-striped"> 
    {% for i in d %} 
        <tr> 
            <td><img class="rounded-circle account-img" src={{i.image_link}}></img></td> 
            <td><h2>{{i.title}}</h2></td> 
            <td><h2>{{i.price}}</h2></td> 
        </tr> 
    {% endfor %} 

    {% endif %}
    </table>
    <br>


</div>

{% endblock body %}